<h1 class="mat-dialog-title">Add Product Form</h1>
<div class="mat-dialog-content">

	<form [formGroup]="productForm">
		<mat-form-field appearance="outline">
			<mat-label>Product Name</mat-label>
			<input matInput formControlName="productName" placeholder="name">
		</mat-form-field>
	
		<mat-form-field appearance="outline">
			<mat-label>Product Category</mat-label>
			<mat-select formControlName="category" placeholder="Category">
				<mat-option value="Fruits">Fruits</mat-option>
				<mat-option value="Vegetable">Vegetable</mat-option>
				<mat-option value="Electronics">Electronics</mat-option>
			</mat-select>
		</mat-form-field>
	
		<mat-form-field appearance="outline">
			<mat-label>Choose a date</mat-label>
			<input matInput formControlName="date" [matDatepicker]="picker">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	
		<label for="">
			<h1>Product Freshness</h1>
		</label>
		<mat-radio-group formControlName="freshness" class="example-radio-group">
			<mat-radio-button  class="example-radio-button" *ngFor="let fresh of freshness" [value]="fresh">
				{{fresh}}
			</mat-radio-button>
		</mat-radio-group>
	
		<mat-form-field appearance="outline">
			<mat-label>Price</mat-label>
			<input matInput formControlName="price" type="number" placeholder="price">
		</mat-form-field>
	
		<mat-form-field appearance="outline">
			<mat-label>Product Description</mat-label>
			<textarea matInput formControlName="productDescription" placeholder="This is a product Description..."></textarea>
		</mat-form-field>
	</form>

</div>

<div mat-dialog-action [align]="'end'">
	<button mat-raised-button color="warn" mat-dialog-close>Close</button>
	<button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{ actionBtn }}</button>
</div>